.image-container {
    position: relative;
    display: inline-block;
  }

  .image-container img {
    width: 443px; 
    height: 260px; 
    padding: 10px;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color:  rgb(242, 243, 237);
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
  }

  .image-container:hover .overlay {
    opacity: 1;
  }

  .overlay-content {
    text-align: center;
          }

